@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
}

:root {
  --color-000: #000000;
  --color-333: #333333;
  --color-fff: #ffffff;
  --color-794: #7943a4;
  --color-c28: #c283f3;
  --color-9d5: #9d5cd0;
  --color-d1a: #d1a9f0;
  --color-666: #666666;
  --color-ca: #cacaca;
  --color-999: #999999;
  --color-ec: #ececec;
  --color-b7: #b7b7b7;

  --color-00004: rgba(0, 0, 0, 0.4);
  --font-400: 400;
  --font-600: 600;
  --font-700: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1630px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
/* header-top */
.header {
  position: relative;
  z-index: 2;
}

.header__menu {
  background-color: var(--color-000);
}

.header__top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 28px;
}

.header__logo {
  position: relative;
  top: 3px;
  margin-right: 11%;
}

.header__logo::before {
  content: '';
  display: inline-block;
  flex-basis: 172px;
  width: 172px;
  height: 40px;
  background-image: url(../image/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--color-000);
}

.header__nav {
  display: flex;
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  flex-basis: 760px;
  margin-right: auto;
}

.header__nav-item {
  white-space: nowrap;
  margin-right: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  outline: none;
  font-weight: var(--font-400);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-fff);
}

.header__nav-link {
  white-space: nowrap;
  outline: none;
  padding-left: 30px;
  font-weight: var(--font-400);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-fff);
}

.header__nav-link  span::before{
  content: '';
  display:  inline-block;
  width: 13px;
  height: 13px;
  margin-right: 7px;
  background-image: url("../image/vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--color-000);
  background-position: center;
}

.header__menu-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  display: flex;
  padding-top: 21px;
  padding-bottom: 17px;
  align-items: center;
}

.header__bottom-list {
  position: relative;
  display: flex;
  flex-basis: 1034px;
  margin-right: auto;
}

.header__bottom-list li {
  margin-right: auto;
}

.header__bottom-list li:last-child {
  margin-right: 0;
}

.header__bottom-btn {
  cursor: pointer;
  padding: 0;
  border: none;
  white-space: nowrap;
  letter-spacing: 0.6px;
  font-weight: var(--font-400);
  font-size: 18px;
  line-height: 25px;
  color: var(--color-fff);
  background-color: transparent;
  outline: none;
}

.header__bottom-btn::after {
  content: '';
  display:  inline-block;
  width: 11px;
  height: 18px;
  margin-left: 4px;
  background-image: url("../image/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center;
}

.header__bottom-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 3px 0 0 0;
}

.header__form-btn {
  border: none;
  background-color: transparent;
  padding: 3px 12px 0 10px;
}

.header__dropdawn {
  position: absolute;
  top: 2.8em;
  display: none;
  height: 300px;
  width: 300px;
  padding: 40px 17px 40px 40px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-search {
  min-width: 218px;
  padding: 5px 5px 5px 0px;
  border: none;
  border-bottom: 1px solid var(--color-fff);
  background-color: transparent;
  color: var(--color-fff);
}

.header__bottom-search::-webkit-input-placeholder {
  font-weight: var(--font-400);
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  word-spacing: 1px;
}

.header__bottom-search::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

/* main */
.main {
  position: relative;
  z-index: 1;
  top: -169px;
}
/* hero */
/* swiper */
 .hero__swiper {
   max-width: 100%;
 }

 .hero__swiper-slide {
   padding-top: 800px;
   background-color: var(--color-666);
   background-size: cover;
   background-repeat: no-repeat;
 }

 .hero__swiper-slide1 {
  background-image: url("../image/hero_slide1.1920.png");
 }

 .hero__swiper-slide2 {
   background-image: url("../image/hero__slide2.1920.png");
 }

 .hero__swiper-slide3 {
   background-image: url("../image/hero__slide3.1920.png");
 }


